@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Poppins:wght@400;600&family=Roboto:wght@100;300;400;500&display=swap');
@import url("Reset\ style.css");

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
}

/*cabeçalho*/
.cabecalho-imagem {
    margin: 1rem;
    width: 60px;
    display: inline-flex;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menu:hover {
    background: #fff;
    transition: 0.8ms;
}
.cabecalho-menu-item {
    text-decoration: none;
    color: #000;
    transition: 0.8ms;
}
.btn-logar {
    color: white;
    background-color: #FF8200;
    padding: 4px 6px;
    border-radius: 20px;
    border-color: #FF8200;

}
.btn-logar:hover {
    font-weight: bold;
    background: #fd9f3b;
    transition: 0.8ms;
    transform: scale(1.1);
}

/*Conteudo*/
.conteudo {
    text-align: center;
}

.conteudo-principal-text {
    padding-top: 10em;
}